[submodule "backend"]
	path = backend
	url = https://github.com/BlacketPS/backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/BlacketPS/frontend.git
[submodule "types"]
	path = types
	url = https://github.com/BlacketPS/types.git
[submodule "common"]
	path = common
	url = https://github.com/BlacketPS/common
[submodule "core"]
	path = core
	url = https://github.com/BlacketPS/core
