[submodule "backend"]
	path = backend
	url = https://github.com/BlacketPS/backend.git
    fetchRecurseSubmodules = true
[submodule "frontend"]
	path = frontend
	url = https://github.com/BlacketPS/frontend.git
    fetchRecurseSubmodules = true
[submodule "discord-bot"]
	path = discord-bot
	url = https://github.com/BlacketPS/discord-bot
    fetchRecurseSubmodules = false
[submodule "packages/core"]
	path = packages/core
	url = https://github.com/BlacketPS/core.git
[submodule "packages/types"]
	path = packages/types
	url = https://github.com/BlacketPS/types.git
[submodule "packages/common"]
	path = packages/common
	url = https://github.com/BlacketPS/common.git
[submodule "packages/mail-templates"]
	path = packages/mail-templates
	url = https://github.com/BlacketPS/mail-templates.git
