@import url("https://fonts.googleapis.com/css?family=Nunito:400,700|Titan+One|Creepster|Satisfy|Eczar:700");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap");

:root {
    --background-color: #2f2f2f;
    --primary-color: #1f1f1f;
    --secondary-color: #3f3f3f;
    --accent-color: #ffffff;
}

body {
    font-family: Nunito, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
}

.background {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    z-index: -2;
}

.blooks-background {
    position: absolute;
    width: 200%;
    height: 200%;
    top: 50%;
    left: 50%;
    background-size: 550px;
    background-position: -100px -100px;
    background-image: url(/content/background.png);
    opacity: 0.05;
    transform: translate(-50%, -50%) rotate(15deg);
}

.modal {
    display: flex;
    position: fixed;
    z-index: 15;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
}

.loader-container {
    height: 50px;
    margin-bottom: 30px;
    position: relative;
    width: 100%;
    user-select: none;
    -webkit-user-select: none;
}

.loader {
    /*left: calc(50% - 17.5px);
    position: absolute;
    top: calc(50% - 20.125px)*/
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(2);
}

.loader-blook {
    -webkit-animation: loader-blook 3s linear infinite;
    animation: loader-blook 3s linear infinite;
    /*left: 7.5px;*/
    position: absolute;
    /*top: 0;*/
    -webkit-transform-origin: 50% 56.5%;
    transform-origin: 50% 56.5%;
    -webkit-user-select: none;
    user-select: none;
    width: 35px
}

@keyframes loader-blook {
    0% {
        transform: translateY(10.5px) rotate(0deg)
    }

    10% {
        transform: translateY(0) rotate(0deg)
    }

    15% {
        transform: translateY(0) rotate(90deg)
    }

    25% {
        transform: translateY(10.5px) rotate(90deg)
    }

    35% {
        transform: translateY(0) rotate(90deg)
    }

    40% {
        transform: translateY(0) rotate(180deg)
    }

    50% {
        transform: translateY(10.5px) rotate(180deg)
    }

    60% {
        transform: translateY(0) rotate(180deg)
    }

    65% {
        transform: translateY(0) rotate(270deg)
    }

    75% {
        transform: translateY(10.5px) rotate(270deg)
    }

    85% {
        transform: translateY(0) rotate(270deg)
    }

    90% {
        transform: translateY(0) rotate(1turn)
    }

    to {
        transform: translateY(10.5px) rotate(1turn)
    }
}

.loader-shadow {
    -webkit-animation: loader-shadow .75s linear infinite;
    animation: loader-shadow .75s linear infinite;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 20px;
    height: 6px;
    /*left: 5px;*/
    opacity: .2;
    position: absolute;
    /*top: 48px;*/
    top: 28px;
    width: 40px
}

@keyframes loader-shadow {
    0% {
        transform: scale(1)
    }

    40% {
        transform: scaleX(1.2)
    }

    60% {
        transform: scaleX(1.2)
    }

    to {
        transform: scale(1)
    }
}

.loader-message {
    margin-top: 135px;
    font-size: 25px;
    color: var(--accent-color);
}

.toast-message {
    position: fixed;
    bottom: 0;
    right: 0;
    text-align: right;
    width: fit-content;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 7px 0px 0px 7px;
    background-color: #2f2f2f;
    box-shadow: inset 0 -6px rgba(0, 0, 0, 0.2);
    transition: 0.25s;
    z-index: 14;
}

.toast-container {
    position: fixed;
    width: 400px;
    height: 125px;
    background-color: #2f2f2f;
    right: 0;
    top: 70px;
    z-index: 998;
    border-radius: 10px 0px 0px 10px;
    box-shadow: inset 0 -5px rgba(0, 0, 0, 0.2);
    display: flex;
    animation: styles__toastContainer___o4pCa-camelCase 0.25s linear;
    cursor: pointer;
}

.toast-icon {
    position: relative;
    bottom: 3px;
    left: 5px;
    transform: scale(0.9);
}

.toast-title {
    font-size: 30px;
    color: var(--accent-color);
    position: absolute;
    top: 5px;
    left: 115px;
}

.toast-message {
    position: relative;
    color: var(--accent-color);
    top: 45px;
    left: 8px;
    overflow: hidden;
    height: 60px;
    width: 280px;
    filter: opacity(0.5);
}

@keyframes toast-container {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes flyIn {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes flyOut {
    0% {
        opacity: 1;
        transform: translateX(0%);
    }

    100% {
        opacity: 1;
        transform: translateX(100%);
    }
}

.input-container {
    border: 2px solid rgba(0, 0, 0, 0.17);
    border-radius: 6px;
    width: 90%;
    height: 45;
}