.container {
    background-color: var(--primary-color);
    border-radius: 7px;
    box-shadow: inset 0 -7px rgba(0, 0, 0, .2), 0 0 4px rgba(0, 0, 0, .15);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    left: 50%;
    max-width: 420px;
    padding-bottom: 7px;
    position: absolute;
    text-align: center;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 90%
}

.container-header {
    color: var(--accent-color);
    font-family: Titan One, sans-serif;
    font-size: 55px;
    margin: 10px 20px 20px;
    text-align: center;
    font-size: 50px;
    line-height: 54px
}

.input-container {
    align-items: center;
    border: 2px solid var(--background-color);
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    height: 45px;
    margin: auto auto 15px;
    max-width: 330px;
    width: 80%
}

.input-container:focus-within {
    border-color: var(--secondary-color);
}

.input-container:focus-within>.icon {
    opacity: 1;
}

.icon {
    align-items: center;
    color: var(--accent-color);
    display: flex;
    font-size: 25px;
    height: 45px;
    justify-content: center;
    min-width: 22px;
    padding-left: 10px;
    -webkit-user-select: none;
    user-select: none;
    width: 22px;
    opacity: 0.5;
}

.input {
    align-items: center;
    border: none;
    background-color: var(--primary-color);
    color: #fff;
    display: flex;
    flex-direction: row;
    font-family: "Nunito", sans-serif;
    font-size: 17px;
    height: 35px;
    margin: 5px 2px 5px 11px;
    max-width: 260px;
    outline: none;
    text-align: left;
    width: calc(100% - 35px)
}

.input:-moz-placeholder,
.input:-ms-input-placeholder,
.input::-moz-placeholder,
.input::-webkit-input-placeholder {
    color: var(--accent-color);
    opacity: .25;
}

.input:focus,
.input:focus:-moz-placeholder,
.input:focus:-ms-input-placeholder,
.input:focus::-moz-placeholder,
.input:focus::-webkit-input-placeholder {
    color: var(--accent-color);
}

.button {
    background-color: var(--primary-color);
    border-color: var(--background-color);
    border-radius: 6px;
    border-style: solid;
    color: var(--accent-color);
    opacity: .75;
    cursor: pointer;
    display: block;
    font-family: Nunito, sans-serif;
    font-size: 22px;
    margin: auto auto 20px;
    outline: none;
    padding: 5px 20px;
    text-align: center;
    transition: .2s;
}

.button:focus,
.button:hover {
    border-color: var(--secondary-color);
    opacity: 1;
}

.agree-holder {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: auto auto 15px;
    max-width: 330px;
    width: 80%
}

.agree-text {
    color: #fff;
    font-family: Nunito, sans-serif;
    font-size: 14px;
    line-height: 16px;
    margin-left: 15px;
    text-align: left
}

.link {
    color: var(--accent-color);
}

.check-box {
    align-items: center;
    border: 2px solid;
    border-color: var(--background-color);
    border-radius: 6px;
    color: var(--accent-color);
    cursor: pointer;
    display: flex;
    font-size: 16px;
    height: 24px;
    justify-content: center;
    min-width: 24px;
    outline: none;
    -webkit-user-select: none;
    user-select: none;
    width: 24px;
    transition: .2s;
}

.check-box:hover {
    border-color: var(--secondary-color);
}

.check-yes {
    color: var(--accent-color);
}

.check-no {
    color: var(--primary-color);
}

.check-icon {
    text-align: center;
    width: 16px
}

.error-container {
    align-items: center;
    border: 2px solid #ce1313;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    margin: auto auto 20px;
    max-width: 330px;
    width: 80%
}

.error-icon {
    color: #ce1313;
    height: 18px;
    margin-left: 13px;
    margin-right: 13px;
    min-width: 20px;
    -webkit-user-select: none;
    user-select: none;
    width: 20px;
}

.error-text {
    color: #fff;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    margin: 5px 5px 5px;
    text-align: left;
}