.inputContainer {
    align-items: center;
    border: 2px solid rgba(255, 255, 255, 0.25);
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    height: 45px;
    margin: auto auto 15px;
    max-width: 330px;
    width: 80%
}

.inputContainer:focus-within {
    border-color: var(--accent-color)
}

.inputContainer:focus-within>.icon {
    color: var(--accent-color)
}

.inputFilled {
    border-color: #3a3a3a
}

.inputError {
    border-color: #ce1313
}

.icon {
    align-items: center;
    color: #fff;
    display: flex;
    font-size: 25px;
    height: 45px;
    justify-content: center;
    min-width: 22px;
    padding-left: 10px;
    -webkit-user-select: none;
    user-select: none;
    width: 22px
}

.smallerIcon {
    min-width: 20px;
    padding-left: 11px;
    padding-right: 1px;
    width: 20px
}

.iconFilled {
    color: #3a3a3a
}

.iconError {
    color: #ce1313
}

.input {
    align-items: center;
    border: none;
    background-color: var(--primary-color);
    color: #fff;
    display: flex;
    flex-direction: row;
    font-family: Nunito, sans-serif;
    font-size: 17px;
    height: 35px;
    margin: 5px 2px 5px 11px;
    max-width: 260px;
    outline: none;
    text-align: left;
    width: calc(100% - 35px)
}

.input:-moz-placeholder,
.input:-ms-input-placeholder,
.input::-moz-placeholder,
.input::-webkit-input-placeholder {
    color: #999
}

.inputError,
.inputError:-moz-placeholder,
.inputError:-ms-input-placeholder,
.inputError::-moz-placeholder,
.inputError::-webkit-input-placeholder {
    color: #ce1313
}

.input:focus,
.input:focus:-moz-placeholder,
.input:focus:-ms-input-placeholder,
.input:focus::-moz-placeholder,
.input:focus::-webkit-input-placeholder {
    color: #0bc2cf
}

.input-checkbox__IKwcg,
button,
input.text__Gg55G,
input[type=button],
input[type=number],
input[type=submit],
input[type=text],
textarea {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none
}

.regularBody {
    height: calc(100% - 55px);
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 55px;
    width: 100%;
    z-index: -1
}

.switchAuthTypeLink {
    font-family: Nunito, sans-serif;
    font-size: 14px;
    color: #fff;
    margin: 15px auto;
    text-align: center
}

.switchAuthTypeLink a {
    color: var(--accent-color);
    display: inline-block;
    cursor: pointer;
    outline: none;
    text-decoration: underline;
    -webkit-user-select: none;
    user-select: none
}

.floatingBox {
    background-color: var(--primary-color);
    border-radius: 7px;
    box-shadow: inset 0 -7px rgba(0, 0, 0, .2), 0 0 4px rgba(0, 0, 0, .15);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    left: 50%;
    max-width: 420px;
    padding-bottom: 7px;
    position: absolute;
    text-align: center;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 90%
}

.floatingBoxHeader,
.smallFloatingBoxHeader {
    color: #fff;
    font-family: Titan One, sans-serif;
    font-size: 55px;
    margin: 10px 20px 20px;
    text-align: center
}

.smallFloatingBoxHeader {
    font-size: 50px;
    line-height: 54px
}

.button {
    background-color: var(--background-color);
    border-color: rgba(255, 255, 255, 0.25);
    border-radius: 6px;
    border-style: solid;
    color: #fff;
    cursor: pointer;
    display: block;
    font-family: Nunito, sans-serif;
    font-size: 22px;
    height: 45px;
    margin: auto auto 20px;
    outline: none;
    padding: 5px 20px;
    text-align: center;
    transition: all .2s cubic-bezier(.39, .5, .15, 1.36)
}

.button:focus,
.button:hover {
    border-color: var(--accent-color);
    color: #fff
}

.buttonFilled__SfrFE {
    border-color: #3a3a3a;
    color: #3a3a3a;
    font-weight: 700
}

.buttonError,
.buttonError:focus {
    border-color: #ce1313;
    color: #fff
}

.buttonError:hover {
    border-color: var(--accent-color);
    color: #fff
}

.blErrorContainer {
    align-items: center;
    border: 2px solid #ce1313;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    margin: auto auto 20px;
    max-width: 330px;
    width: 80%
}

.blErrorIcon {
    color: #ce1313;
    height: 20px;
    margin-left: 13px;
    margin-right: 13px;
    min-width: 20px;
    -webkit-user-select: none;
    user-select: none;
    width: 20px
}

.blErrorText {
    color: #fff;
    font-family: Nunito, sans-serif;
    font-size: 16px;
    margin: 8px 5px 5px;
    text-align: left
}

.checkBox {
    align-items: center;
    background-color: #fff;
    border: 2px solid #3a3a3a;
    border-radius: 6px;
    color: #3a3a3a;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    height: 24px;
    justify-content: center;
    min-width: 24px;
    outline: none;
    -webkit-user-select: none;
    user-select: none;
    width: 24px;
    transition: .2s; 
}

.checkBox:hover {
    transform: scale(1.1) rotate(-2deg);
}

.checkBox:active {
    transform: scale(0.9) rotate(0deg);
}

.checkYes {
    background-color: var(--primary-color);
    border-color: var(--secondary-color);
    color: var(--accent-color)
}

.checkNo {
    background-color: var(--primary-color);
    border-color: var(--secondary-color);
    color: var(--primary-color)
}

.checkError {
    background-color: var(--primary-color);
    border-color: #ce1313;
    color: var(--primary-color)
}

.checkIcon {
    text-align: center;
    width: 16px
}

.agreeHolder {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: auto auto 15px;
    max-width: 330px;
    width: 80%
}

.agreeText {
    color: #fff;
    font-family: Nunito, sans-serif;
    font-size: 14px;
    line-height: 16px;
    margin-left: 15px;
    text-align: left
}

.link {
    color: var(--accent-color);
}

.buttonError {
    border-color: #ce1313
}