.leftSide {
    position: absolute;
    top: 45px;
    left: 2.5%;
    height: calc(100% - 60px);
    width: calc(95% - 430px);
    border-radius: 10px;
    background-color: var(--primary-color);
    padding: 10px 10px 19px;
    box-shadow: inset 0 -9px rgba(0, 0, 0, .2), 0 5px rgba(0, 0, 0, .25);
    box-sizing: border-box;
}

.blooksHolder {
    width: 100%;
    height: 100%;
    padding: 5px;
    overflow-y: auto;
    overflow-x: hidden;
}

.setHolder {
    margin-bottom: 20px;
    position: relative;
}

.setTop {
    margin-bottom: 5px;
    position: relative;
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.setTopBackground {
    position: absolute;
    left: 0;
    top: 0;
    background-size: 50px 50px;
    opacity: .15;
    width: 100%;
    height: 100%;
    background-image: url("/content/blookTile.png");
}

.setTopText {
    margin: auto 0;
    font-family: Titan One, sans-serif;
    color: var(--accent-color);
    text-shadow: 3px 3px rgba(0, 0, 0, .2);
    font-size: 26px;
}

.setTopDivider {
    width: 100%;
    height: 3px;
    background-color: var(--accent-color);
    border-radius: 2px;
}

.setItems {
    display: grid;
    grid-template-columns: repeat(auto-fill, 60px);
    grid-gap: 10px;
}

.blook {
    width: 60px;
    height: 70px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    outline: none;
    will-change: transform;
    transition: transform .2s;

    .blookLock {
        position: absolute;
        font-size: 24px;
        opacity: .7;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .blookQuantity {
        position: absolute;
        font-family: Titan One, sans-serif;
        font-size: 12px;
        -webkit-text-stroke: #000000 1px;
        border-radius: 7px;
        padding: 0 5px;
        height: 14px;
        line-height: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 2px;
        left: -2px;
   }

   &:hover {
        transform: scale(0.95);
   }

   &:active {
        transform: scale(0.9);
   }

    &>img {
        width: 100%;
        height: 100%;
        -o-object-fit: contain;
        object-fit: contain;

        &[data-locked="true"] {
            filter: brightness(0);
        }
    }

    &[data-locked="true"] {
        cursor: unset;
    }
}

.rightSide {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2.5%;
    width: 400px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.rightBlookBackground {
    width: 100%;
    height: 100%;
    user-select: none;
}

.rightTopText {
    position: absolute;
    top: 15px;
    left: 5%;
    width: 90%;
    font-family: Titan One, sans-serif;
    color: var(--accent-color);
    text-align: center;

    .rightBlookName {
        text-shadow: 0 3px 3px rgba(0, 0, 0, .2);
        width: 100%;
        height: 50px;
        text-align: center;
    }

    .rightBlookRarity {
        font-size: 30px;
        -webkit-text-stroke: #000000 1px;
    }
}

.rightBlookImage {
    display: flex;
    position: absolute;
    bottom: 85px;
    left: 105px;
    width: 190px;

    &>img {
        width: 100%;
        height: 100%;
        -o-object-fit: contain;
        object-fit: contain;
    }
}

.rightBottomText {
    position: absolute;
    bottom: 15px;
    left: 5%;
    width: 90%;
    font-family: Titan One, sans-serif;
    color: var(--accent-color);
    text-align: center;
    font-size: 30px;
    text-shadow: 0 0 4px rgba(0, 0, 0, .4);
}

.rightShadow {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50px;
    box-shadow: inset 0 -9px rgba(0, 0, 0, .2);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.rightNoBlooksOwned {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}