html,
body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
}

body,
div {
    font-family: "Nunito", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--accent-color)fff;
}

.header-container {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

@media only screen and (max-width: 1050px) {
    .header-container {
        height: 100vh;
    }
}

.header-image {
    height: 100vh;
    width: 52.5%;
    position: absolute;
    top: 0;
    right: 0;
    -o-object-fit: contain;
    object-fit: contain;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    z-index: -1;
    filter: drop-shadow(0 0 0.5vw var(--primary-color));
}

@media only screen and (max-width: 1050px) {
    .header-image {
        top: 7.26vh;
        height: auto;
        width: 100%;
    }
}

.top-header-container {
    position: absolute;
    top: 3vh;
    left: 2.5vw;
    user-select: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media only screen and (max-width: 1050px) {
    .top-header-container {
        left: 5vw;
        top: 41vh;
        flex-direction: column;
        align-items: flex-start;
    }
}

.top-button-container {
    position: absolute;
    top: 3vh;
    right: 1.5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 1050px) {
    .top-button-container {
        width: 100%;
        top: 2vh;
        left: 0;
    }
}

.top-button {
    border-radius: 0.36vw;
    padding-bottom: 0.26vw;
    box-shadow: 0px -0.26vw rgba(0, 0, 0, 0.2) inset, 0px 0px 0.2vw rgba(0, 0, 0, 0.15);
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    user-select: none;
    transition: transform 200ms;
}

.top-button:hover {
    transform: scale(1.05);
}

.register-button {
    width: 25vh;
    height: 8vh;
    line-height: 8vh;
    font-size: 4.4vh;
    background-color: var(--primary-color);
    color: var(--accent-color);
}

.login-button {
    margin-right: 2.5vw;
    width: 18vh;
    height: 6vh;
    line-height: 6vh;
    font-size: 3.6vh;
    background-color: var(--primary-color);
    color: var(--accent-color);
}

@media only screen and (max-width: 1050px) {
    .login-button {
        margin-right: 5vw;
    }
}

.header-side {
    background-color: var(--primary-color);
    box-shadow: -0.41vw 0px rgba(0, 0, 0, 0.2) inset, 0px 0px 0.2vw rgba(0, 0, 0, 0.15);
    width: 70vw;
    height: 150vh;
    position: absolute;
    top: -10vh;
    left: -20vw;
    transform: rotate(-15deg);
    z-index: -1;
}

@media only screen and (max-width: 1050px) {
    .header-side {
        width: 130vw;
        height: 70vh;
        position: absolute;
        top: 40vh;
        left: -20vw;
        transform: rotate(4deg);
        background-color: var(--primary-color);
        box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 0.41vw 0.15vw;
        z-index: -1;
    }
}

.logo-text {
    font-size: 7.3vh;
    font-family: "Titan One", sans-serif;
    /*text-shadow: 0.1vw 0.1vw 0.41vw rgb(128, 128, 128);*/
    color: var(--accent-color);
}

.welcome-container {
    position: absolute;
    top: 22vh;
    left: 5vw;
    color: var(--accent-color);
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 1050px) {
    .welcome-container {
        position: absolute;
        top: 57.5vh;
        left: 5vw;
        color: var(--accent-color);
        display: flex;
        flex-direction: column;
    }
}

.welcome-text {
    color: var(--accent-color);
    font-size: 8.83vh;
    line-height: 9.13vh;
    /*text-shadow: 2px 2px 8px rgb(128, 128, 128);*/
    font-weight: bold;
}

@media only screen and (max-width: 1050px) {
    .welcome-text {
        font-size: 6vh;
        line-height: 6.5vh;
        /*text-shadow: 2px 2px 8px rgb(128, 128, 128);*/
        font-weight: bold;
    }
}

.welcome-desc {
    font-size: 3.35vh;
    margin: 3vh 0;
    color: var(--accent-color);
}

@media only screen and (max-width: 1050px) {
    .welcome-desc {
        font-size: 2.2vh;
        margin: 1.5vh 0 3vh;
    }
}

.welcome-button-container {
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
}

.welcome-button {
    border-color: var(--accent-color);
    border-style: solid;
    border-radius: 0.31vw;
    border-width: 0.15vw;
    font-size: 4.26vh;
    width: 32vh;
    line-height: 7vh;
    text-align: center;
    color: var(--accent-color);
    outline: none;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 200ms, color 200ms;
}

.welcome-button:hover,
.welcome-button:focus {
    background-color: var(--accent-color);
    color: var(--primary-color);
}

@media only screen and (max-width: 1050px) {
    .welcome-button-container {
        display: flex;
        flex-direction: row;
        gap: 1vw;
    }

    .welcome-button {
        font-size: 3vh;
        width: 20vh;
        line-height: 4.5vh;
        border-color: var(--accent-color);
        border-style: solid;
        border-radius: 0.5vw;
        border-width: 0.3vw;
        text-align: center;
        color: var(--accent-color);
        outline: none;
        text-decoration: none;
        cursor: pointer;
    }
}

.pronounce-button {
    color: var(--accent-color);
    font-size: 3vh;
    line-height: 4vh;
    margin-top: 5vh;
    cursor: pointer;
    user-select: none;
    outline: none;
}

@media only screen and (max-width: 1050px) {
    .pronounce-button {
        color: var(--accent-color);
        font-size: 2vh;
        line-height: 3vh;
        margin-top: 1.5vh;
        cursor: pointer;
        user-select: none;
        outline: none;
    }
}

.copyright-information {
    position: absolute;
    bottom: 0;
    color: var(--accent-color);
    margin: 0.5vw;
    font-size: 0.75vw;
}

.version-information {
    position: absolute;
    bottom: 1vw;
    right: 0;
    color: var(--accent-color);
    margin: 0.5vw;
    font-size: 0.75vw;
    text-align: right;
}

.terms-of-service-link {
    position: absolute;
    bottom: 0;
    right: 0;
    color: var(--accent-color);
    margin: 0.5vw;
    font-size: 0.75vw;
    text-align: right;
}

@media only screen and (max-width: 1050px) {
    .copyright-information {
        display: none;
    }

    .version-information {
        display: none;
    }

    .terms-of-service-link {
        position: absolute;
        bottom: 0;
        right: 0;
        color: var(--accent-color);
        margin: 0.5vw;
        font-size: 1.5vh;
        text-align: right;
    }
}