@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Titan+One&display=swap");

body {
    background-color: black;
    overflow: hidden;
}

span {
    display: inline-block;
}

.background {
    position: absolute;
    width: 200%;
    height: 200%;
    top: 50%;
    left: 50%;
    background-size: 550px;
    background-position: -100px -100px;
    opacity: 0.1;
    transform: translate(-50%, -50%) rotate(15deg);
}

.title {
    font-size: 100px;
    font-family: Titan One, sans-serif;
}